@model EmeciDoctoresV2.Models.LoginMedico

@{
    ViewBag.Title = "Login";
  
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="apple-touch-icon" href="~/apple-touch-icon.png">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content = "telephone=no">

        <!-- Cargando Hojas de Estilos -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/css/jasny-bootstrap.min.css">

         <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/emeci.css">

        <!-- Agregamos el Modernizr para compatibilidad HTML5 -->
        <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body id="pagina-de-acceso">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
                or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">


                    <div id="formulario-de-acceso" class="animated hidden">
                        <p class="text-center">
                            <img class="logotipo" src="../img/emeci.png" alt=""/>
                        </p>
                        <hr>
                      @using (Html.BeginForm())
                      {
                         @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label>Número de Tarjeta</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                    <!--
                                        <input id="numero-de-tarjeta" type="text" class="form-control input-lg" data-mask="99999-9999" />
                                        -->
                                          @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-lg",@data_mask="99999-9999"} )

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Contraseña</label>
                                    <!--
                                    <input type="password" class="form-control input-lg" />
                                    -->
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control input-lg"} )

                                </div>
                            </div>

                        <div class="form-group row text-center">
                         <!--
                            <a id="btn-ingresar" class="btn btn-default" href="seleccionar-paciente.html">Acceder a EMECI</a>
                            -->
                              <input type="submit" value="Acceder a EMECI" class="btn btn-default" />
                        </div>

                        
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center"><a class="btn-link" href="~/Medico/RecordarPwd">Recordar Contraseña</a></p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center"><a class="btn-link" href="~/Medico/RegistroMedico">Registrarme como Medico</a></p>
                            </div>
                        </div>
                      }
                    </div>
                </div>
            </div>
        </div>


        <!-- Cargando Scripts -->
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
        <!--<script>            window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>-->
        <script src="~/js/vendor/jquery-1.10.1.min.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/vendor/jasny-bootstrap.min.js"></script>

        <script src="/js/main.js"></script>
        <script>
            $(function () {
                
                // Mostramos el formulario de acceso.
                $('#formulario-de-acceso').addClass('fadeInDown');
                $('#formulario-de-acceso').removeClass('hidden');

                // Al dar click en el boton de ingresar ocultamos el formulario de acceso.
                $('#btn-ingresar').click(function () {
                    $('#formulario-de-acceso').addClass('fadeOutDown')
                });
            });

        </script>
    </body>
</html>
